body {
  margin: 0px;
  height: 1000vh;
}

section {
  display: flex;
  height: 604px;
  background-color: black;
}

.left-side {
  width: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-airbnb {
  color: white;
}

.logo {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo:hover {
  background-color: rgba(128, 128, 128, 0.447);
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 72px;
}

.main-word {
  max-width: 400px;
  letter-spacing: -1.5px;
  line-height: 1.1em;
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  color: white;
  padding-bottom: 50px;
}

.start-host {
  background-color: #e31c5f;
  font-weight: bold;
  color: white;
  width: 164px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.down-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 60px;
  left: auto;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.down-icon:hover {
  background-color: rgba(128, 128, 128, 0.447);
}

.fa-chevron-down {
  color: white;
}

.right-side {
  width: 760px;
}

.host-name {
  width: 140px;
  height: 56px;
  margin-bottom: 10px;
}

.host-detail {
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.host-info {
  position: relative;
  bottom: 160px;
  left: 60px;
}
